
div.littleprince {
    alignment: center;
    width:350px;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.underline {
    text-decoration: underline;
}
.highlighter {
    background-color: darkorange;
}
.para {
    text-align: left;
}
.red {
    color: red;
    font-weight: bold;
}

