.image {
    padding-left: 200px;
    padding-right: 200px;
}
.underline {
    text-decoration: underline;
}
.highlighter {
    background-color: darkorange;
}
.para {
    text-align: left;
    padding-left: 200px;
    padding-right: 200px;
}
.red {
    color: red;
    font-weight: bold;
}